{% include "layout/innerheader.html" %}
{%load static%}

<section>
    <div class="container">
        <div class="text-center">
            <h2 class="mt-5 mb-1">Trusted Payment Process</h2>
            <img src="{%static 'images/trust.png'%}" height="200" width="400" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam unde recusandae qui non expedita, placeat omnis porro voluptates autem sit atque aut eligendi sed consequuntur, quaerat eaque suscipit, earum fugiat. Consectetur placeat cum saepe facilis blanditiis vitae ut voluptatem eligendi!</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <tr>
                        <th>Sno</th>
                        <th>For Enquiry</th>
                        <th>Enquiry Date</th>
                        <th>Total Coins</th>
                        <th>Deduct Coins</th>
                        <th>Purchase Coins</th>
                        <th>Purchase Coins Date</th>
                        <th>Payment</th>
                        <th>Withdrawl Amount</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

{%include 'layout/footer.html'%}