{% include "layout/innerheader.html" %}
{%load static%}

<section class="mt-5">
    <div class="container">
        <div class="text-center">
            <h4>Phone Number</h4>
          

        </div>
        <center>
            <table cellpadding="10">
                <tr>
                    <td>Add Number</td>
                </tr>
                <tr>
                    <td><select name="" id="">
                        <option value="">+91</option>
                        <option value="">+92</option>
                        <option value="">+93</option>
                        <option value="">+94</option>
                    </select></td><td><input type="text"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Save" class="btn btn-info"></td>
                </tr>
               </table>
        </center>
    </div>
</section>
<br><br><br>
{%include 'layout/footer.html'%}