<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
    /* p 
    {
        color:white!important;
    } */
</style>
<section class="mt-5 bg-dark">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-4 col-4">
                    <h4 class="text-white">Quick Links</h4>
                    <p class="mt-5" style="color: white!important;">Home</p>
                    <p style="color: white!important;">About</p>
                    <p style="color: white!important;">Contact Us</p>
                    <p style="color: white!important;">FAQ's</p>
                    <p style="color: white!important;">Blog</p>
                    <p style="color: white!important;">Career</p>
            </div>
            <div class="col-lg-4 col-4">
                <h4 class="text-white">Countries</h4>
                <p class="mt-5" style="color: white!important;">Dubai</p>
                <p style="color: white!important;">India</p>
                <p style="color: white!important;">Canada</p>
                <p style="color: white!important;">Africa's</p>
                <p style="color: white!important;">Austrlia</p>
                <p style="color: white!important;">USA</p>
            </div>
            <div class="col-lg-4 col-4">
                    <h4 class="text-white">Top Assignment Searches</h4>
                    <p class="mt-5" style="color: white!important;">Technical Coding</p>
                <p style="color: white!important;">Writing</p>
                <p style="color: white!important;">Project Assignment</p>
                <p style="color: white!important;">Minor Project </p>
                <p style="color: white!important;">Major Project</p>
                <p style="color: white!important">Case Study Assignment Help</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h6 class="text-white">assignmentsupport@gmail.com</h6>
                    <p class="text-white">&copy All Right Pratibha Technical Classes</p>
                </div>
            </div>
        </div>
    </div>
</section>