{% include "layout/header.html" %}
{%load static%}

    <section>
        <div class="container">
            <div class="text-center">
                <img src="{%static 'images/promote.png'%}" height="300" width="400" alt="">
                <h3>Upload Your Video</h3>
                <input type="file" class="form-control">
                
            </div>
            <input type="submit" class="btn btn-primary mt-5" value="Pay Now">
        </div>
    </section>

{%include 'layout/footer.html'%}