{% include "layout/header.html" %}
{%load static%}

    <section>
        <div class="container">
            <div class="text-center">
                {%if msj%}
                <p>{{msj}}</p>
                {%endif%}
                <h4 class="mt-5 mb-3">Request For Online Assignment Help</h4>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <form action="" method="post">
                        {%csrf_token%}
                        <table class="table">
                            <tr>
                                <td>Email</td>
                                <td colspan="2">
                                    <input type="email" name="email" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td colspan="2">
                                    <input type="text" name="name" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td colspan="2">
                                    <input type="text" name="location" class="form-control"">
                                </td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td><select name="code" id="" class="form-control">
                                    <option value="+91">+91</option>
                                    <option value="+61">+61</option>
                                    <option value="+71">+71</option>
                                </select></td>
                                <td><input type="number" name="num" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>Details for your Requirement</td>
                                
                                <td colspan="2">
                                    <textarea name="details" id="" cols="30" rows="5" class="form-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>Subject</td>
                                
                                <td colspan="2">
                                    <input type="text" name="subject" class="form-control"">
                                </td>
                            </tr>
                            <tr>
                                <td>I Want</td>
                                
                                <td colspan="2">
                                    <select name="want" id="" class="form-control">
                                        <option value="Assignment">Assignment Help</option>
                                        <option value="Online">Online tutor</option>
                                        <option value="Online">Online tutor</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Meeting</td>
                                
                                <td colspan="2">
                                    <select name="meeting" id="" class="form-control">
                                        <option value="Online">Online</option>
                                        <option value="Home">Home</option>
                                        <option value="Any">Any</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Due Date</td>
                                
                                <td colspan="2">
                                   <input type="date" class="form-control" name="date">
                                </td>
                            </tr>
                            <tr>
                                <td>Budget</td>
                                <td><input type="text" class="form-control" name="price"></td>
                                <td><select name="pricemode" class="form-control" id="">
                                    <option value="Week">Per Week</option>
                                    <option value="Hour">Per Hour</option>
                                    <option value="Month">Per Month</option>
                                    <option value="Day">Per Day</option>
                                    <option value="Year">Per Year</option>

                                </select></td>
                            </tr>
                            <tr>
                                <td>Gender Preference</td>
                                
                                <td colspan="2"><select name="gender" class="form-control" id="">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Any">Any</option>
                                    

                                </select></td>
                            </tr>
                            <tr>
                                <td>I Can Communicate Language</td>
                                
                                <td colspan="2">
                                    
                                    <input type="text" name="lan" class="form-control">
                            </td>
                            </tr>
                           
                            <tr>
                                <td>Upload</td>
                                <td colspan="2">
                                    <input class="form-control" type="file" name="doc" id="formFile">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="submit" class="btn btn-primary form-control" value="Post Requirements and Get Teachers"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>

    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="{%static 'js/custom.js'%}"></script>


{%include 'layout/footer.html'%}