{% include "layout/header.html" %}
{%load static%}

<section class="mt-5 mb-5">
    <div class="container">
        <div class="text-center">
            <h3>Course and Location</h3>
            <form action="" method="post">
                {%csrf_token%}
            <div class="row mt-5">
             
                <div class="col-lg-5 col-5">
                    <input type="text" placeholder="Subject/Skills" class="form-control">
                </div>
                <div class="col-lg-5 col-5">
                    <input type="text" placeholder="Location" class="form-control">
                </div>
                <div class="col-lg-2 col-2">
                    <button class="btn btn-primary">Search</button>
                </div>
            </form>
            </div>

                <div class="row">
                    <div class="col-lg-12">
                                <div class="container">
                                   
                                   <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-8">  <ul>
                                        <li> <button class="btn btn-link">All</button></li>
                                        <li> <button class="btn btn-link">Online</button></li>
                                        <li> <button class="btn btn-link">Home</button></li>
                                        <li> <button class="btn btn-link">Assignment Help</button></li>
                                    </ul></div>
                                    <div class="col-lg-2"></div>
                                   </div>
                                      
                                      
                                  
                               
                    </div>
                    
                </div>

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <h5>Pratibha Rajawat Python Programming Language </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                        </div>
                        <div class="row mt-3 mb-3">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi incidunt sit ipsa nisi vel iste earum maxime blanditiis magnam cumque sed amet perferendis natus repellat ipsum exercitationem eos impedit aut, dolores neque! Officiis, recusandae nihil esse incidunt culpa beatae error.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp&nbspLocation</p>
                            </div>
                            <div class="col-lg-2">
                                <p><i class="fa fa-inr" aria-hidden="true"></i>&nbsp&nbspRupees</p>
                            </div>
                            <div class="col-lg-2">
                                <p><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp&nbspExpe</p>
                            </div>
                            <div class="col-lg-2">
                                <p>Location</p>
                            </div>
                            <div class="col-lg-2">
                                <p>Location</p>
                            </div>
                            <div class="col-lg-2">
                                <p>Location</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
<section class="mb-3 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <h5>Pratibha Rajawat Python Programming Language </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                        </div>
                        <div class="row mt-3 mb-3">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi incidunt sit ipsa nisi vel iste earum maxime blanditiis magnam cumque sed amet perferendis natus repellat ipsum exercitationem eos impedit aut, dolores neque! Officiis, recusandae nihil esse incidunt culpa beatae error.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp&nbspLocation</p>
                            </div>
                            <div class="col-lg-2">
                                <p><i class="fa fa-inr" aria-hidden="true"></i>&nbsp&nbspRupees</p>
                            </div>
                            <div class="col-lg-2">
                                <p><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp&nbspExpe</p>
                            </div>
                            <div class="col-lg-2">
                                <p>Location</p>
                            </div>
                            <div class="col-lg-2">
                                <p>Location</p>
                            </div>
                            <div class="col-lg-2">
                                <p>Location</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
<section class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <h5>Pratibha Rajawat Python Programming Language </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light">Technology</button>
                            </div>
                        </div>
                        <div class="row mt-3 mb-3">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi incidunt sit ipsa nisi vel iste earum maxime blanditiis magnam cumque sed amet perferendis natus repellat ipsum exercitationem eos impedit aut, dolores neque! Officiis, recusandae nihil esse incidunt culpa beatae error.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp&nbspLocation</p>
                            </div>
                            <div class="col-lg-2">
                                <p><i class="fa fa-inr" aria-hidden="true"></i>&nbsp&nbspRupees</p>
                            </div>
                            <div class="col-lg-2">
                                <p><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp&nbspExpe</p>
                            </div>
                            <div class="col-lg-2">
                                <p>Location</p>
                            </div>
                            <div class="col-lg-2">
                                <p>Location</p>
                            </div>
                            <div class="col-lg-2">
                                <p>Location</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
{%include "layout/footer.html"%}